<h2>Marketplace: {{model.name}}</h2>

{{table-title title="ApiKeys" collection=apiKeys}}
<table>
  <thead>
    <tr>
      <td>Date</td>
      <td>Name</td>
      <td>Secret</td>
    </tr>
  </thead>
  <tbody>
    {{#each apiKey in apiKeys}}
      <tr>
        <td>{{apiKey.createdAt}}</td>
        <td>{{apiKey.meta.name}}</td>
        <td>{{apiKey.secret}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{table-title title="Transactions" collection=transactions}}
<a {{action "reload" transactions}} href="#">reload</a>
{{#if transactions.hasNextPage}}
  <a {{action "loadNext" transactions}} href="#">load next</a>
{{/if}}

<table>
  <thead>
    <tr>
      <td>Date</td>
      <td>Amount</td>
    </tr>
  </thead>
  <tbody>
    {{#each transaction in transactions}}
      <tr>
        <td>{{transaction.createdAt}}</td>
        <td>{{transaction.amountDollars}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{table-title title="Customers" collection=customers}}
<a {{action "reload" customers}} href="#">reload</a>
{{#if customers.hasNextPage}}
  <a {{action "loadNext" customers}} href="#">load next</a>
{{/if}}

<table>
  <thead>
    <tr>
      <td>Date</td>
      <td>Customer</td>
      <td>Funding Instruments count</td>
    </tr>
  </thead>
  <tbody>
    {{#each customer in customers}}
      <tr>
        <td>{{customer.createdAt}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.fundingInstruments.length}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
